@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.App {
    width: 1440px;
    height: 1024px;
    background-image: url('../../assets/background.png');
    background-size: cover;
    padding: 40px 100px;
}

.header {
    width: 100px;
    display: flex;
    align-items: center;
    margin-bottom: 200px;
}

.header_img {
    size: 45px;
    margin-right: 10px;
}

.header_h1 {
    font-size: 36px;
    color: #FFF;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-one {
    display: flex;
    flex-direction: column;
    margin: 0 90px 0 0;
}

.section_p-first {
    width: 614px;
    height: 124px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #FFF;
    font-size: 52px;
    margin-bottom: 35px;
}

.section_span {
    color: #7978D9;
}

.section_p-second {
    width: 600px;
    height: 99px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.btn_section-one,
.btn_section-two {
    all: unset;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 284px;
    height: 48px;
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 14px;
    background-color: #7978D9;
    color: #FFF;

    border-radius: 5px;
    cursor: pointer;
}

.btn_section-one:hover,
.btn_section-two:hover {
    background-color: #6765c2;
}

.btn_section-two {
    width: 449px;
    height: 48px;
}

.section-two {
    display: flex;
    flex-direction: column;
    width: 515px;
    height: 535px;
    background-color: #FFF;
    padding: 55px 30px;
}

.section-two_span {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 28px;
    color: #7978D9;
    margin: 0 auto 50px auto;
}

.label {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 18px;
    color: #484848;
    margin-bottom: 10px;
}

.input {
    width: 449px;
    height: 63px;
    background: #FFFFFF;
    border: 1px solid #555555;
    border-radius: 5px;
    margin-bottom: 30px;
}